<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>

      <%= f.fields_for :passengers do |sub_form| %>
        <h3>Passenger <%= sub_form.index + 1 %></h3>
        <div>
          <%= sub_form.label :name %>
          <%= sub_form.text_field :name, :required => true %>
        </div>
        <div>
          <%= sub_form.label :email %>
          <%= sub_form.text_field :email, :required => true %>
        </div>
      <% end %>
    <%= f.submit %>
  <% end %>
